# ignore common files not needed under revision control
var


# ignore sensitive files
.ssh
.gitconfig
etc/sweep.conf
etc/prowl.conf
etc/ec2


# ignore OS X stuff
.DS_Store
.Trash
.MacOSX
.junglediskinstance
.subversion

Applications/
Desktop/
Documents/
Downloads/
Library/
Memory/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
Code/
Work/

# ignore server stuff
Maildir/
etc/sievec
ec2/


# ignore anything else
.gem
.cpan
.cpanplus
.cups
