# ignore common files not needed under revision control
var


# ignore sensitive files
.ssh


# ignore OS X stuff
.DS_Store
.Trash
.MacOSX
.junglediskinstance
.subversion

Applications/
Desktop/
Documents/
Downloads/
Library/
Memory/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
Code/


# ignore sensitive config files
etc/sweep.conf


# ignore server stuff
Maildir/
etc/sievec
ec2/


# ignore anything else
.gem
.cpan
.cpanplus
.cups
