# ignore common files not needed under revision control
var


# ignore sensitive files
.ssh


# ignore OS X stuff
.DS_Store
.Trash
.MacOSX
.junglediskinstance
.subversion

Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/


# ignore server stuff
Maildir/
etc/sievec
