# ~/etc/bash/rc/crontab
# -*- Mode: Bash; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 2 -*-
#
# keep the master copy of the crontab file in ~/var, not /var

export REAL_CRONTAB=`which crontab`
export CRONTAB_FILE=${HOME}/var/cron/${HOST}
export BASE_CRONTAB="${HOME}/var/cron/_default"

function init_crontab {
    # initialise it if necessary
    if [ ! -f ${CRONTAB_FILE} ]; then
        cat ${BASE_CRONTAB} > ${CRONTAB_FILE}
    fi
}
function crontab {
    init_crontab
    
    case "${1}" in
        -l)
            cat ${CRONTAB_FILE}
        ;;
        -e|"")
            ${VISUAL} ${CRONTAB_FILE}
            ${REAL_CRONTAB} ${CRONTAB_FILE}
        ;;
        *)
            echo "Usage: crontab { [-e] | -l }"
        ;;
    esac
}

function check_crontab {
    local tmp_real_crontab=/tmp/crontab.real.$$
    
    ${REAL_CRONTAB} -l > ${tmp_real_crontab} 2>/dev/null
    
    diff_and_warn ${tmp_real_crontab} ${CRONTAB_FILE} \
                  "crontab file not properly installed"
    
    rm -f ${tmp_real_crontab}
}

function add_to_crontab {
    init_crontab
    local line
    
    echo '' >> ${CRONTAB_FILE}
    echo "# -- added automatically" `date` >> ${CRONTAB_FILE}
    for line in "$@"; do
        echo "$line" >> ${CRONTAB_FILE}
    done
    
    crontab -e
}

check_crontab
