# ~/etc/bash/rc/crontab
# -*- Mode: Bash; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 2 -*-
#
# keep the master copy of the crontab file in ~/etc, not /var/cron

export REAL_CRONTAB=`which crontab`

function crontab {
    arg=$1
    tab_file=${HOME}/etc/crontabs/${HOST}
    
    case "${arg}" in
        -l)
            cat ${tab_file}
        ;;
        -e|"")
            ${VISUAL} ${tab_file}
            ${REAL_CRONTAB} ${tab_file}
        ;;
        *)
            echo "Usage: crontab { [-e] | -l }"
        ;;
    esac
}
